# Tuples
Tuples are ordered sequence
They are comma sepearted elements written within paranthesis

Eg: ratings=(2,5,4,3,1)


In Python, we can store string, integer and float all together in a tuple. Where the type( tuple1) is tuple

eg: tuple1=( "moni", 10, 55.25)
Each element can be accessed by an index

In [1]:
tuple1=( "moni", 10, 55.25)

type(tuple1)

tuple

In [2]:
tuple1[0]

'moni'

In [3]:
tuple1[1]

10

In [4]:
tuple1[2]

55.25

We can concat tuples by adding them

In [6]:
tuple2=tuple1+("Python", 22.5)
tuple2

('moni', 10, 55.25, 'Python', 22.5)

# # Tuple Slicing

In [7]:
tuple2[0:2]

('moni', 10)

lenth function returns the number of elements in the tuple

In [8]:
len(tuple2)

5

Tuples are immutable

Tuples Nesting: One tuple can contain other tuples as well

In [9]:
NT= (11,22.5,("nesting",45.36),45,"tuples",(77.5,88))

In [11]:
NT[2][1]

45.36

In [12]:
len(NT[2])

2

# Lists
List is also a sequence of ordered elements
It is represented by square brackets

We can store strings, integers, float, nest lists and tuples

In [13]:
l1=["louis",22.3,22,[55,44.2],("Tiger",89)]

List Slicing

In [15]:
l1[3:5]

[[55, 44.2], ('Tiger', 89)]

List can be concatenated by adding them

In [18]:
l2=l1+[445,"Donny"]
l2

['louis', 22.3, 22, [55, 44.2], ('Tiger', 89), 445, 'Donny']

In [23]:
len(l2)

11

Lists are mutable

In [21]:
l2.extend(["pop",13])
l2

['louis',
 22.3,
 22,
 [55, 44.2],
 ('Tiger', 89),
 445,
 'Donny',
 'pop',
 13,
 'pop',
 13]

In [22]:
len(l2)

11

In [24]:
l2.append(["jack",103])
l2

['louis',
 22.3,
 22,
 [55, 44.2],
 ('Tiger', 89),
 445,
 'Donny',
 'pop',
 13,
 'pop',
 13,
 ['jack', 103]]

In [25]:
len(l2)

12

Since Lists are mutable we can add or remove elements at any index

In [26]:
l2[4]="Betty"

In [27]:
l2

['louis',
 22.3,
 22,
 [55, 44.2],
 'Betty',
 445,
 'Donny',
 'pop',
 13,
 'pop',
 13,
 ['jack', 103]]

In [28]:
del(l2[4])

In [29]:
l2

['louis',
 22.3,
 22,
 [55, 44.2],
 445,
 'Donny',
 'pop',
 13,
 'pop',
 13,
 ['jack', 103]]

Convert String to list

In [31]:
str="Hello Mike!!"
str1=str.split()
str1

['Hello', 'Mike!!']

We can also specify any delimiter like , ; : etc

In [34]:
str3="A,B,C,D,!"
str4=str3.split(",")
str4

['A', 'B', 'C', 'D', '!']

Since Lists are mututable if two lists are referencing same list ... if one list change other will also change

In [35]:
list1=[2,4,5,6]
list2=list1
list1[1]

4

In [36]:
list2[1]=55
list1[1]

55

This problem can be overcomed by List cloning

In [37]:
A=[5,4,8,4]
B=A[:]

B[1]=44
A[1]

4

# Dictionaries

Dictionaries are a type of collection in Python
In Dictionaries the values are stored as key-value paris

Dictionaries are denoted by curly brackets
The keys should be unique and immutable
The values can be duplicate and mutable
Each key value should be seperated by comma

In [39]:
dic={"a":1,"b":2,"c":3,"d":4}

dic["a"]

1

Check an element in a dictionary

In [40]:
"a" in dic

True

In [41]:
"f" in dic

False

In [43]:
dic.keys()

dict_keys(['a', 'b', 'c', 'd'])

In [44]:
dic.values()

dict_values([1, 2, 3, 4])

# Sets

They are also a type of collection, which means we can input different python types

Unlist lists and tupes Sets are unordered meaning they dont record element position. They only store unique elements.

Sets are defined by curly brackets

Type casting list to set

In [45]:
List_new=[1,2,5,4,8]

set_new=set(List_new)
set_new

{1, 2, 4, 5, 8}

In [46]:
set_new.add(589)

In [47]:
set_new.add(589)

In [48]:
set_new

{1, 2, 4, 5, 8, 589}

In [49]:
set_new.remove(4)

In [50]:
set_new

{1, 2, 5, 8, 589}

In [51]:
4 in set_new

False

In [56]:
set1={1,2,3,4,5}
set2={1,2,8,4,9}
set8={1,2}
set3=set1 & set2
set3

{1, 2, 4}

In [53]:
set4=set1.union(set2)
set4

{1, 2, 3, 4, 5, 8, 9}

In [54]:
set1.issubset(set2)

False

In [58]:
set8.issubset(set1)

True