# Python Types

There are three main data types in PYthon:
1. Integer
2. Float/ Real Number
3. String
4. Boolean (have only two values :True and False)

We can find the type of a data by type() function

In [1]:
type(2)

int

In [2]:
type(11.56)

float

In [3]:
type("Hello Moni!!")

str

In [11]:
type(True)

bool

## Type Casting

We can convert one date type to another


** bool(1) =True
bool(0) = False

** int(True) = 1
int(False) = 0

In [4]:
float(1)

1.0

In [12]:
int(True)

1

In [5]:
int(1.1)

1

In [13]:
bool(1)

True

In [7]:
int("445")

445

In [8]:
int("err")

ValueError: invalid literal for int() with base 10: 'err'

In [9]:
str(4.55)

'4.55'

In [10]:
str(4588)

'4588'

# Expressions & Variables

Expressions are operations that Python performs like arithematic operations: additions, substraction, multiplication & division

e.g: 40+56+98+88 where numbers are operants and + is called operators

In [14]:
56+98+96+56

306

In [15]:
56-98

-42

In [16]:
8899*6655

59222845

In [17]:
25/5

5.0

In [18]:
25/9

2.7777777777777777

In [19]:
25//9

2

# # Variables

Variables are used to store values 
e.g: my_variables = 10

In [21]:
x=5+9+8+9+6
y=x/10
print (y)

3.7

In [22]:
# python version

import sys
print(sys.version)

3.11.5 | packaged by Anaconda, Inc. | (main, Sep 11 2023, 13:26:23) [MSC v.1916 64 bit (AMD64)]

# String

In Python, String is a sequence of characters contained within double or single quotes. A string can be number, letters, space, special characters. We can assign a string to a variable and can imagine it as an ordered sequence. Each element in the sequence can be accessed using an index represented b a number.

E.g: name= "Moni"

name[0]: M, name [2]:n

In [24]:
name= "moni"

#length
len(name)

4

In [26]:
#concat

fullname= name + "mala"
print(fullname)

monimala

In [27]:
3*fullname

'monimalamonimalamonimala'

In [30]:
#escape sequence

print(" hello there\n How are you?")

 hello there
 How are you?

In [32]:
#tab

print(" hello there\t How are you?")

 hello there	 How are you?

# # String Methods

In [34]:
#upper case

string= "this is monimala here"
str=string.upper()
str

'THIS IS MONIMALA HERE'

In [35]:
#replace

str1= "lola is a good girl"

newStr= str1.replace("lola", "mona")
newStr

'mona is a good girl'

In [36]:
#substring- output is the first index of the sequence else -1

newStr.find('good')

10

In [39]:
#split

my_string="Hello world" 
split_text = my_string.split(",")
split_text

['Hello world']