# Application Program Interface (API)

For example we have our own program code and data, now we want to interact with other software component via inputes and outputs.
Pandas is actually a set of software components which are not even written in python. We use the pandas api to process the data by communicating with othe software component.

In [6]:
import pandas as pd

dict={1,2,3,'ruffle',58,'queen',45,89,69,77}
df=pd.DataFrame(dict)
df

        0
0       1
1       2
2       3
3      69
4  ruffle
5      45
6      77
7   queen
8      89
9      58

In [7]:
df.head()

        0
0       1
1       2
2       3
3      69
4  ruffle

# Rest API

Rest (REpresentational State Transfer) API is a type of API which help us to communicate through the internet allowing us to take advantage like storage, speed,AI algorithm etc
Rest API is used to interact with the Web services(Resources) 
There are certain rules for using Rest API:
    1. Communication
    2. Input or Request
    3. Output or Response
    
Our code is the client, the web service is the resource, the client finds the resource via a endpoint. The client sends request to the resource and the resource sends the response to the client
HTTP methods are a way of transmitting data over the internet. We tell the Rest API what to do by sending a request, the request is send by a HTTP message
containing a json file. Similarly the web service sends a response through a HTTP Message

**API Keys and Endpoints**

An API key is a way to access the API, its an unique set of characters used to indentify us and authorise us.
An endpoint is simply the location of the service

# HTTP Protocols

The HTTP message usually contains a JSON file. When you, the client, use a web page your browser sends an  HTTP request to the server where the page is hosted. The server tries to find the desired resource by default "index.html". I\ if our request is successful, the server will send the object to the client in an HTTP response; this includes information like the type of the resource, the length of the resource, and other information.

Uniform resource locator (URL) is the most popular way to find resources on the web.

**Request**

Requests is a python Library that allows you to send HTTP/1.1 requests easily

In [12]:
import requests
url='https://www.ibm.com/'
r=requests.get(url)
r.status_code

200

In [13]:
r.request.headers

{'User-Agent': 'python-requests/2.31.0', 'Accept-Encoding': 'gzip, deflate, br', 'Accept': '*/*', 'Connection': 'keep-alive', 'Cookie': '_abck=26F9F09FFEAA22C631BC3DDD195E6166~-1~YAAQNq7dWJMo1BGNAQAA7n2LKAtcD/A9FhtK/4yLiKJ6IWWKdnN8suK9HLqWmyw1OkOS0T/s60+bh6i6ssunFabbWNCydy0V+Zyt3Eozi1wnhw4UJnphamihtCcuhfuKkMy2WSn3tsw5szy2ac9rBm8TkC28Z1gqn/PpqZdV+engN5Vq++1AXx7TTwYeP4hBpfmZfJeXWVuEKNop4ypDk3EFMvD8yxhcclvboDpiD9bfkTyW9Ibau6adF8b/cwQpWqNtrgVRwfO4deX8cjyxK/oNMeC91fs0e9eUnw1KBF3fFlcRjy0kmzx5B0TjrC5hh8/vEKdZ4gcJb62OjHX5FSX0kx+0qr95GrQ5J8UuwdKqs+uobL4=~-1~-1~-1; bm_sz=8B461DC9B08C19D9F2DC72E6CED043CB~YAAQNq7dWJQo1BGNAQAA7n2LKBYcoK9hf/kQQdUBqv1HHwFMMJjcipZCb8yhPSsXGnrtqt0aoKD/FqHUeZK8OSls4pjY7Moz4uqDK2MyqqbP6pX2q2Y9o6lcybmtbzQA3/1JYE8VWdbFWsm8+tlomgmnY0H779CK5quWGivcyd2FfOQyOSbbY2vQ5mi2fOBmMm4zcdKOmVgdBrAvl9yxjKraXie6ttDicjzb0SIZ24lz/mMwFqM2k75u8S9S1izstJudJvBcGAl2y9bY7i3ys6Jmx2392zRgP3PUu+2CjS5Kmu112tU9Iq8wWwWvJaOSz1wcoBIeiNV0AnUzqLaoTSrxK2wqTiuzIOvuRNfo1Ep7Vw==~3291457~4600113'}

In [14]:
r.request.body

**Get Request**

In [20]:
url_get='http://httpbin.org/get'

payload={'name': 'Mike', 'ID': '125'}

r=requests.get(url_get)
r.url

'http://httpbin.org/get'

In [21]:
r.request.body

In [22]:
r.status_code

200

In [23]:
r.text

'{\n  "args": {}, \n  "headers": {\n    "Accept": "*/*", \n    "Accept-Encoding": "gzip, deflate, br", \n    "Host": "httpbin.org", \n    "User-Agent": "python-requests/2.31.0", \n    "X-Amzn-Trace-Id": "Root=1-65ac2d97-3a88795171ab9cbf619d85a9"\n  }, \n  "origin": "88.182.197.128", \n  "url": "http://httpbin.org/get"\n}\n'

In [24]:
r.headers['content-type']

'application/json'

In [25]:
r.json()

{'args': {},
 'headers': {'Accept': '*/*',
  'Accept-Encoding': 'gzip, deflate, br',
  'Host': 'httpbin.org',
  'User-Agent': 'python-requests/2.31.0',
  'X-Amzn-Trace-Id': 'Root=1-65ac2d97-3a88795171ab9cbf619d85a9'},
 'origin': '88.182.197.128',
 'url': 'http://httpbin.org/get'}

**Post Request**

In [29]:
url_post='http://httpbin.org/post'

payload={'name': 'Mike', 'ID': '125'}

r=requests.post(url_post, data=payload)

In [30]:
r.request.body

'name=Mike&ID=125'

# HTML for Webscrapping

Webscraping is a process that can be used to automatically extract information from a website, and can easily be accomplished within a matter of minutes and not hours. This can be acheived with a little Python code and the help of two modules named Requests and Beautiful Soup.

Beautiful Soup is a Python library for pulling data out of HTML and XML files, we will focus on HTML files. This is accomplished by representing the HTML as a set of objects with methods used to parse the HTML. We can navigate the HTML as a tree, and/or filter out what we are looking for.

In [33]:
!pip install html5lib

Collecting html5lib
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
     ---------------------------------------- 0.0/112.2 kB ? eta -:--:--
     --- ------------------------------------ 10.2/112.2 kB ? eta -:--:--
     ---------- -------------------------- 30.7/112.2 kB 330.3 kB/s eta 0:00:01
     -------------------------------- --- 102.4/112.2 kB 737.3 kB/s eta 0:00:01
     ------------------------------------ 112.2/112.2 kB 728.1 kB/s eta 0:00:00
Requirement already satisfied: six>=1.9 in c:\users\monipmo\anaconda3\lib\site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in c:\users\monipmo\anaconda3\lib\site-packages (from html5lib) (0.5.1)
Installing collected packages: html5lib
Successfully installed html5lib-1.1

In [36]:
!pip install bs4

Collecting bs4
  Obtaining dependency information for bs4 from https://files.pythonhosted.org/packages/51/bb/bf7aab772a159614954d84aa832c129624ba6c32faa559dfb200a534e50b/bs4-0.0.2-py2.py3-none-any.whl.metadata
  Downloading bs4-0.0.2-py2.py3-none-any.whl.metadata (411 bytes)
Requirement already satisfied: beautifulsoup4 in c:\users\monipmo\anaconda3\lib\site-packages (from bs4) (4.12.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\monipmo\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.4)
Downloading bs4-0.0.2-py2.py3-none-any.whl (1.2 kB)
Installing collected packages: bs4
Successfully installed bs4-0.0.2

In [2]:
from bs4 import BeautifulSoup # this module helps in web scrapping.
import requests  # this module helps us to download a web page

In [3]:
html="<!DOCTYPE html><html><head><title>Page Title</title></head><body><h3><b id='boldest'>Lebron James</b></h3><p> Salary: $ 92,000,000 </p><h3> Stephen Curry</h3><p> Salary: $85,000, 000 </p><h3> Kevin Durant </h3><p> Salary: $73,200, 000</p></body></html>"

In [4]:
soup = BeautifulSoup(html, 'html5lib')

In [5]:
print(soup.prettify())

<!DOCTYPE html>
<html>
 <head>
  <title>
   Page Title
  </title>
 </head>
 <body>
  <h3>
   <b id="boldest">
    Lebron James
   </b>
  </h3>
  <p>
   Salary: $ 92,000,000
  </p>
  <h3>
   Stephen Curry
  </h3>
  <p>
   Salary: $85,000, 000
  </p>
  <h3>
   Kevin Durant
  </h3>
  <p>
   Salary: $73,200, 000
  </p>
 </body>
</html>

If we want the title of the page and the name of the top paid player. We can use the Tag. The Tag object corresponds to an HTML tag in the original document, for example, the tag title.

In [6]:
tag_object=soup.title
print("tag object:",tag_object)

tag object: <title>Page Title</title>

In [7]:
print("tag object type:",type(tag_object))

tag object type: <class 'bs4.element.Tag'>

In [8]:
tag_object=soup.h3
tag_object

**NavigableString**

A string corresponds to a bit of text or content within a tag. Beautiful Soup uses the NavigableString class to contain this text. In our HTML we can obtain the name of the first player by extracting the string of the Tag object tag_child as follows:

In [10]:
tag_child =tag_object.b
tag_child
tag_string=tag_child.string
tag_string

'Lebron James'

In [11]:
type(tag_string)

bs4.element.NavigableString

In [12]:
unicode_string = str(tag_string)
unicode_string

'Lebron James'

***Filters***

Filters allow you to find complex patterns, the simplest filter is a string. We can pass a string to a different filter method and Beautiful Soup will perform a match against that exact string. Consider the following HTML of rocket launches:

In [13]:
table="<table><tr><td id='flight'>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr> <td>1</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a></td><td>300 kg</td></tr><tr><td>2</td><td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a> </td><td>80 kg</td></tr></table>"

In [14]:
table_bs = BeautifulSoup(table, 'html5lib')

In [15]:
table_rows=table_bs.find_all('tr')
table_rows

[<tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>,
 <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td><td>300 kg</td></tr>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td><td>80 kg</td></tr>]

In [16]:
first_row =table_rows[0]
first_row

In [17]:
for i,row in enumerate(table_rows):
    print("row",i,"is",row)

row 0 is <tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>
row 1 is <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td><td>300 kg</td></tr>
row 2 is <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>
row 3 is <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td><td>80 kg</td></tr>

In [18]:
for i,row in enumerate(table_rows):
    print("row",i)
    cells=row.find_all('td')
    for j,cell in enumerate(cells):
        print('colunm',j,"cell",cell)

row 0
colunm 0 cell <td id="flight">Flight No</td>
colunm 1 cell <td>Launch site</td>
colunm 2 cell <td>Payload mass</td>
row 1
colunm 0 cell <td>1</td>
colunm 1 cell <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td>
colunm 2 cell <td>300 kg</td>
row 2
colunm 0 cell <td>2</td>
colunm 1 cell <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>
colunm 2 cell <td>94 kg</td>
row 3
colunm 0 cell <td>3</td>
colunm 1 cell <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td>
colunm 2 cell <td>80 kg</td>

In [19]:
table_bs.find_all(id="flight")

**Downloading And Scraping The Contents Of A Web Page**

We Download the contents of the web page:

In [20]:
url = "http://www.ibm.com"

download the contents of the webpage in text format and store in a variable called data:

In [21]:
data  = requests.get(url).text

Create the Beautiful Soup object using the Beautiful Soup constructor

In [22]:
soup = BeautifulSoup(data,"html5lib")

Scrape all links

In [23]:
for link in soup.find_all('a',href=True):

    print(link.get('href'))

https://www.ibm.com/fr-fr/cloud?lnk=hpfrpr1

Scrape all images

In [24]:
for link in soup.find_all('img'):# in html image is represented by the tag <img>
    print(link)
    print(link.get('src'))

<img alt="Portraits des consultants IBM" class="bx--image__img" id="image-752988054" loading="lazy" src="/content/dam/adobe-cms/default-images/home-consultants.component.crop-16by9-xl.ts=1695221366270.jpg/content/adobe-cms/fr/fr/homepage/_jcr_content/root/table_of_contents/simple_image"/>
/content/dam/adobe-cms/default-images/home-consultants.component.crop-16by9-xl.ts=1695221366270.jpg/content/adobe-cms/fr/fr/homepage/_jcr_content/root/table_of_contents/simple_image

**Scraping tables from a Web page using Pandas**

In [25]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/HTMLColorCodes.html"

In [26]:
import pandas as pd

tables = pd.read_html(url)
tables

[         0      1               2                 3                     4
 0   Number  Color      Color Name  Hex Code #RRGGBB  Decimal Code (R,G,B)
 1        1    NaN     lightsalmon           #FFA07A      rgb(255,160,122)
 2        2    NaN          salmon           #FA8072      rgb(250,128,114)
 3        3    NaN      darksalmon           #E9967A      rgb(233,150,122)
 4        4    NaN      lightcoral           #F08080      rgb(240,128,128)
 5        5    NaN           coral           #FF7F50       rgb(255,127,80)
 6        6    NaN          tomato           #FF6347        rgb(255,99,71)
 7        7    NaN       orangered           #FF4500         rgb(255,69,0)
 8        8    NaN            gold           #FFD700        rgb(255,215,0)
 9        9    NaN          orange           #FFA500        rgb(255,165,0)
 10      10    NaN      darkorange           #FF8C00        rgb(255,140,0)
 11      11    NaN     lightyellow           #FFFFE0      rgb(255,255,224)
 12      12    NaN    lemonchiffon           #FFFACD      rgb(255,250,205)
 13      13    NaN      papayawhip           #FFEFD5      rgb(255,239,213)
 14      14    NaN        moccasin           #FFE4B5      rgb(255,228,181)
 15      15    NaN       peachpuff           #FFDAB9      rgb(255,218,185)
 16      16    NaN   palegoldenrod           #EEE8AA      rgb(238,232,170)
 17      17    NaN           khaki           #F0E68C      rgb(240,230,140)
 18      18    NaN       darkkhaki           #BDB76B      rgb(189,183,107)
 19      19    NaN          yellow           #FFFF00        rgb(255,255,0)
 20      20    NaN       lawngreen           #7CFC00        rgb(124,252,0)
 21      21    NaN      chartreuse           #7FFF00        rgb(127,255,0)
 22      22    NaN       limegreen           #32CD32        rgb(50,205,50)
 23      23    NaN            lime           #00FF00          rgb(0.255.0)
 24      24    NaN     forestgreen           #228B22        rgb(34,139,34)
 25      25    NaN           green           #008000          rgb(0,128,0)
 26      26    NaN      powderblue           #B0E0E6      rgb(176,224,230)
 27      27    NaN       lightblue           #ADD8E6      rgb(173,216,230)
 28      28    NaN    lightskyblue           #87CEFA      rgb(135,206,250)
 29      29    NaN         skyblue           #87CEEB      rgb(135,206,235)
 30      30    NaN     deepskyblue           #00BFFF        rgb(0,191,255)
 31      31    NaN  lightsteelblue           #B0C4DE      rgb(176,196,222)
 32      32    NaN      dodgerblue           #1E90FF       rgb(30,144,255)]

In [27]:
tables[0]

         0      1               2                 3                     4
0   Number  Color      Color Name  Hex Code #RRGGBB  Decimal Code (R,G,B)
1        1    NaN     lightsalmon           #FFA07A      rgb(255,160,122)
2        2    NaN          salmon           #FA8072      rgb(250,128,114)
3        3    NaN      darksalmon           #E9967A      rgb(233,150,122)
4        4    NaN      lightcoral           #F08080      rgb(240,128,128)
5        5    NaN           coral           #FF7F50       rgb(255,127,80)
6        6    NaN          tomato           #FF6347        rgb(255,99,71)
7        7    NaN       orangered           #FF4500         rgb(255,69,0)
8        8    NaN            gold           #FFD700        rgb(255,215,0)
9        9    NaN          orange           #FFA500        rgb(255,165,0)
10      10    NaN      darkorange           #FF8C00        rgb(255,140,0)
11      11    NaN     lightyellow           #FFFFE0      rgb(255,255,224)
12      12    NaN    lemonchiffon           #FFFACD      rgb(255,250,205)
13      13    NaN      papayawhip           #FFEFD5      rgb(255,239,213)
14      14    NaN        moccasin           #FFE4B5      rgb(255,228,181)
15      15    NaN       peachpuff           #FFDAB9      rgb(255,218,185)
16      16    NaN   palegoldenrod           #EEE8AA      rgb(238,232,170)
17      17    NaN           khaki           #F0E68C      rgb(240,230,140)
18      18    NaN       darkkhaki           #BDB76B      rgb(189,183,107)
19      19    NaN          yellow           #FFFF00        rgb(255,255,0)
20      20    NaN       lawngreen           #7CFC00        rgb(124,252,0)
21      21    NaN      chartreuse           #7FFF00        rgb(127,255,0)
22      22    NaN       limegreen           #32CD32        rgb(50,205,50)
23      23    NaN            lime           #00FF00          rgb(0.255.0)
24      24    NaN     forestgreen           #228B22        rgb(34,139,34)
25      25    NaN           green           #008000          rgb(0,128,0)
26      26    NaN      powderblue           #B0E0E6      rgb(176,224,230)
27      27    NaN       lightblue           #ADD8E6      rgb(173,216,230)
28      28    NaN    lightskyblue           #87CEFA      rgb(135,206,250)
29      29    NaN         skyblue           #87CEEB      rgb(135,206,235)
30      30    NaN     deepskyblue           #00BFFF        rgb(0,191,255)
31      31    NaN  lightsteelblue           #B0C4DE      rgb(176,196,222)
32      32    NaN      dodgerblue           #1E90FF       rgb(30,144,255)